@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all .2s ease-out;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #333;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}


body {
  padding: 3rem 7%;



}







section {
  padding: 5rem 1%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;


  position: relative;
  z-index: 1000;
}

.logo {
  width: 35%;
  display: flex;



}

.logo img {
  width: 23%;
  border: 3px solid white;
  border-radius: 50px;
}

header .navbar a {
  margin-left: 2rem;
  font-size: 2rem;
  color: #000000;
  font-weight: 500;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header .navbar a:hover {
  color: var(--blue);
}

#menu {
  font-size: 2.5rem;
  border-radius: .3rem;
  border: .1rem solid rgba(0, 0, 0, .2);
  cursor: pointer;
  display: none;
}


.box-main {
  display: flex;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 80%;
}

.firsthalf {
  width: 80%;
  display: flex;
  flex-direction: column;


}

.heading {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.heading span {
  color: #1f06fb;
  font-weight: 600;
}

.subheading {
  font-size: 20px;
  padding-top: 5px;
}

.secondhalf {
  width: 50%;
}

.secondhalf img {
  width: 50%;
  border: 4px solid white;
  border-radius: 20px;
  display: block;
  margin: auto;

}

h1 {
  color: #000000;

  font-weight: 600;
}

h1 span {
  color: #1f06fb;
  position: relative;
}



.intro {
  font-size: 20px;
  padding-top: 15px;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .7rem 1rem;
  border-radius: .9rem;
  background: rgba(39, 51, 218, 0.911);
  color: #fff;
  cursor: pointer;
  font-size: 1.8rem;
  border: 1px solid white;
  margin-right: 10px;
}

.btnsm {
  display: inline-block;
  margin-top: .8rem;
  padding: .5rem .8rem;
  border-radius: .9rem;
  background: rgba(39, 51, 218, 0.911);
  color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
  border: 1px solid white;

}


.btn:hover {
  background: white;
  color: black;
  border: 1px solid gray;
}

.btnsm:hover {
  background: white;
  color: black;
  border: 1px solid gray;
}

.slideshow-container {

  position: relative;
  margin: auto;
}

.mySlides img {
  width: 400px;
  height: 400px;
  padding-top: 40px;
  margin: auto;
  display: flex;



}

/* Caption text */
 .text {
  color: #000000;
  font-size: 18px;
  padding: 8px 12px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
/* .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  } */


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}





.aboutus h2 {
  text-align: center;
  font-size: 30px;
}

.aboutus h3 {
  font-size: 25px;
  padding-bottom: 8px;
}

.aboutus p {
  font-size: 20px;
  padding-bottom: 5px;
}
.right p{
  font-size: 20px;
  padding-bottom: 5px;
  
}

.dept h1 {
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
}

.dept {
  background-color: #fff;
  padding: 2rem;
  margin: 20px;
  border-radius: 10px;
  border: dashed rgb(255, 255, 255);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

}

.dept:hover {
  box-shadow: 2px 5px 40px rgba(19, 213, 203, 0.386);
}

.main-right {
  display: flex;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 80%;
  padding-bottom: 40px;
}

.right {
  width: 80%;
  display: flex;
  flex-direction: column;

}

.right-image {
  width: 50%;
}

.right-image img {
  height: 20%;
  width: 50%;

  border: 4px solid white;
  border-radius: 20px;
  display: block;
  margin: auto;
}

.newsletter h1 {
  text-align: center;
  font-size: 30px;
}

.volume1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.volumes {
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
  border-radius: 10px;
  border: dashed rgb(255, 255, 255);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f6f6;
}

.volumes h2 {
  text-align: center;
  font-size: 25px;
  padding-bottom: 10px;
}

.newsletter-card {
  box-shadow: 0 4px 8px 0 rgba(15, 48, 235, 0.2);
  transition: 0.3s;
  width: 22%;
  border-radius: 20px;
  background-color: #DCE1F2;
}

.newsletter-card:hover {
  box-shadow: 8px 8px 16px 8px rgba(2, 247, 255, 0.2);
}

.cover-image img {
  height: auto;
  width: 100%;
  max-height: 300px;
  object-fit: fill;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.newsletter-card p {
  font-size: 18px;
  text-align: center;
  padding: 10px 5px;
}

.newsletter-btn {
  text-align: center;
  padding: 10px;

}

.news {
  display: inline-block;
  margin-top: 1rem;
  padding: .7rem 1rem;
  border-radius: .9rem;
  background: rgba(39, 51, 218, 0.911);
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  text-decoration: none;
}

.news:hover {
  background: white;
  color: rgba(39, 51, 218, 0.911);
  border: 1px solid rgba(39, 51, 218, 0.911);
}



.team h1 {
  text-align: center;
  font-size: 30px;
}

.coordinator {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.leads {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;

}

.team1{
  display: flex;
  justify-content: space-around;
  padding-top: 20px;

}

.team2 {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;

}
.team3 {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;

}
.team4 {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;

}

.team-card {
  box-shadow: 0 4px 8px 0 rgba(15, 48, 235, 0.2);
  transition: 0.3s;
  width: 25%;
  border-radius: 20px;
  text-align: center;



}

.team-card:hover {
  box-shadow: 8px 8px 16px 8px rgba(2, 247, 255, 0.2);
}

.team-image img {
  height: 14rem;
  width: 14rem;
  margin: .5rem 0;
  border-radius: 50%;
  object-fit: cover;


}

.team-card .share a {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  background-color: #c7c7c7;
  border-radius: .5rem;
  margin: .3rem;
  color: #1660f3;
  margin-bottom: 15px;
}

.team-card .share a:hover {
  background-color: blue;
  color: white;
}

.team-card h2 {
  font-size: 23px;
  padding-top: 8px;
  padding-bottom: 6px;
}

.team-card h3 {
  font-size: 19px;
  padding-bottom: 6px;
}

.team-card h4 {
  font-size: 17px;
  padding-bottom: 10px;
}

.achievement h1 {
  text-align: center;
  font-size: 30px;
}
.achievement-teacher-student{
  display: flex;
  justify-content: space-around;
}
.teacher-achievement  h1{
  font-size: 20px;
  padding-top: 20px;
  
}
.student-achievement h1{
  font-size: 20px;
  padding-top: 20px;

}

.caption {
  color: #000000;
  font-size: 18px;
 padding-top: 5px;
  font-weight: 600;
  width: 90%;
  text-align: center;
  
}


.subscribe-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.subscribe-form {
  display: flex;
  margin-top: 20px;
}

.subscribe-form input[type="email"] {
  padding: 10px;
  font-size: 16px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.subscribe-form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe-form button:hover {
  background-color: #0056b3;
}

#msg {
  color: #0056b3;
  display: block;
  margin-top: 10px;
  font-size: 16px;

}



.social-panel-container {
  position: fixed;
  right: 0;
  bottom: 80px;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
  transform: translateX(-10px);
}

.social-panel {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 16px 31px -17px rgba(39, 51, 218, 0.911);
  border: 5px solid rgb(51, 51, 243);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Muli';
  position: relative;
  height: 169px;
  width: 370px;
  max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
  border: 0;
  color: #97A5CE;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.social-panel button.close-btn:focus {
  outline: none;
}

.social-panel p {
  background-color: rgba(39, 51, 218, 0.911);
  border-radius: 0 0 10px 10px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  padding: 2px 17px 6px;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
  text-align: center;
  width: 235px;
}

.social-panel p i {
  margin: 0 5px;
}

.social-panel p a {
  color: #FF7500;
  text-decoration: none;
}

.social-panel h4 {
  margin: 20px 0;
  color: #97A5CE;
  font-family: 'Muli';
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.social-panel ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-panel ul li {
  margin: 0 10px;
}

.social-panel ul li a {
  border: 1px solid #DCE1F2;
  border-radius: 50%;
  color: #001F61;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  text-decoration: none;
}

.social-panel ul li a:hover {
  border-color: #FF6A00;
  box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
  border-radius: 26.5px;
  background-color: rgba(39, 51, 218, 0.911);
  border: 1px solid #001F61;
  box-shadow: 0 16px 22px -17px #03153B;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.floating-btn:hover {
  background-color: #ffffff;
  color: #001F61;
}

.floating-btn:focus {
  outline: none;
}
.credit {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}



.view-pdf-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .7rem 1rem;
  border-radius: .9rem;
  background: rgba(39, 51, 218, 0.911);
  color: #fff;
  cursor: pointer;
  font-size: 1.rem;
  text-decoration: none;
  margin-left: 90px;
  margin-bottom: 30px;
  font-weight: 600;
}

.view-pdf-btn:hover {
  background: white;
  color: rgba(39, 51, 218, 0.911);
  border: 1px solid rgba(39, 51, 218, 0.911);
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/ opacity */
}

/* Modal content */
.modal-content {
  background-color: white;
  margin: 2% auto;
  /* 10% from the top and centered */
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  /* 80% width of the page */
  height: 95%;
  /* Height for the modal */
  position: relative;
}

/* PDF iframe styling */
.modal-content iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  margin: 0 auto;
  /* Center the iframe */
  border-radius: 10px;
}

/* The Close Button */
.close {
  position: absolute;
  top: 7px;
  right: 25px;
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;

}

.close:hover,
.close:focus {
  color: rgb(255, 0, 0);
  text-decoration: none;
  cursor: pointer;
}



/* @media (max-width:991px) {

  html {
    font-size: 55%;
  }

  body {
    padding: 1.5rem;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;

  }

  .heading {
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .subheading {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 7px;
  }

  .box-main {
    display: flex;
    flex-direction: column-reverse;
  }

  .firsthalf {
    width: 100%;
    padding-top: 10px;
  }


  .logo {
    width: 40%;
  }

  .logo img {
    width: 35%;
  }

  .heading {
    padding-bottom: 5px;
  }


  .intro {
    font-size: 25px;

  }
  .subscribe-form input[type="email"] {
    
    width: 70%;
   
}


  .btn {

    font-size: 17px;
    cursor: pointer;

  }



  
    
 

 

  .contactname input {

    width: 100%;


  }

  .contactname input {

    font-size: 22px;

  }

  .contactmail input {

    font-size: 22px;

  }

  .contactmessage input {

    font-size: 22px;

  }

  .social-panel-container.visible {
    transform: translateX(0px);
  }

  .floating-btn {
    right: 10px;


  }



} */





@media (max-width:768px) {

  #menu {
    display: initial;
    color: black;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: .1rem solid rgba(0, 0, 0, .2);
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    font-size: 2.5rem;
    display: block;
    margin: 2rem 0;
    text-align: center;
  }



}